<!DOCTYPE html>
<html lang="en-US">

<head>
	<title>Cook Note - Food Recipes HTML Template</title>
	<meta name="author" content="Nile-Theme">
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<meta name="keywords" content="recipes food, recipes , chinese food, italian food">
	<meta name="description" content="Cook Note - Food & Recipes Food Template">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- google fonts -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,800%7CPoppins:100,200,300i,300,400,700,400i,500%7CDancing+Script:700" rel="stylesheet">
	<!-- animate -->
	<link rel="stylesheet" href="/assets/css/animate.css" />
	<!-- owl Carousel assets -->
	<link href="/assets/css/owl.carousel.css" rel="stylesheet">
	<link href="/assets/css/owl.theme.css" rel="stylesheet">
	<!-- bootstrap -->
	<link rel="stylesheet" href="/assets/css/bootstrap.min.css">
	<!-- hover anmation -->
	<link rel="stylesheet" href="/assets/css/hover-min.css">
	<!-- flag icon -->
	<link rel="stylesheet" href="/assets/css/flag-icon.min.css">
	<!-- main style -->
	<link rel="stylesheet" href="/assets/css/style.css">
	<!-- colors -->
	<link rel="stylesheet" href="/assets/css/colors/main.css">
	<!-- elegant icon -->
	<link rel="stylesheet" href="/assets/css/elegant_icon.css">
	<!-- Font Awesome -->
	<link rel="stylesheet" href="/assets/css/fontawesome-all.min.css">

</head>

<body>

	<!-- // Header  -->
	<header class="background-main-color">
		<div class="container">
			<div class="header-output">
				<div class="header-in">

					<div class="row">
						<div class="col-lg-2 col-md-12">
							<a id="logo" href="/" class="d-inline-block margin-tb-5px"><img src="/assets/img/logo-small.png" alt="" width= 52 height= 52></a>
							<a class="mobile-toggle padding-13px background-main-color" href="#"><i class="fas fa-bars"></i></a>
						</div>
						<div class="col-lg-8 col-md-12 position-inherit">
							<ul id="menu-main" class="white-link dropdown-dark text-lg-center nav-menu link-padding-tb-17px">
							<ul class="sub-menu text-left">
							</ul>
								</li>
								<li><a href="/">Home</a></li>
								<li class="has-dropdown"><a href="#">Recipes</a>
									<ul class="sub-menu text-left">
										<li><a href="#">Recipes - Grid Layout </a></li>
							
									</ul>
								</li>
								<li><a href="/login">Login</a></li>
									<li><a href="/register">Register</a></li>
									</ul>
								</li>
						
							</ul>
						</div>
						<div class="col-lg-2 col-md-12 d-none d-lg-block">
							<hr class="margin-bottom-0px d-block d-sm-none">
							<a href="/choice/" class="text-white ba-2 box-shadow float-right padding-lr-23px padding-tb-15px text-extra-large"><i class="fas fa-list"></i></a>
							<a href="/login" class="text-white ba-1 box-shadow float-right padding-lr-23px padding-tb-15px text-extra-large"><i class="far fa-user"></i></a>
						</div>
					</div>

				</div>
			</div>
		</div>
	</header>
	<!-- // Header  -->


	<div id="page-title" class="padding-tb-30px gradient-white text-center">
		<div class="container">
		<!--	<ol class="breadcrumb opacity-5">
				<li><a href="#">Home</a></li>
				<li class="active">Sign up</li>
			</ol> -->
			<h1 class="font-weight-300">What's in Your Fridge?</h1>
		</div>
	</div>


	

<form method="POST" action="/choice">
	<div class="container">
		<!-- item -->
		<div class="margin-bottom-30px">
			<div class="background-white thum-hover box-shadow hvr-float full-width">
				<div class="float-md-left margin-30px thum-xs">
					<img class="width-150px" src="https://www.edamam.com/food-img/007/00792642367e1f55de680762f85cfb3b.jpg" alt="">
				</div>
				<div class="padding-25px">
					<div class="rating">
							<h2>Protein</h2>
					</div>
					<div style="display: flex;">
				<div style="padding: 15px;" ><br><label><h3><input type="checkbox" name="beef" value="beef" /> Beef  </h3></label>
				</div><div style="padding: 15px;">		<br><label><h3><input type="checkbox" name="chicken" value="chicken" /> Chicken  </h3></label>
					</div><div style="padding: 15px;">	<br><label><h3><input type="checkbox" name="pork" value="pork" /> Pork  </h3></label>
					</div><div style="padding: 15px;">	<br><label><h3><input type="checkbox" name="fish" value="fish" /> Fish  </h3></label>
					</div><div style="padding: 15px;">	<br><label><h3><input type="checkbox" name="turkey" value="turkey" /> Turkey  </h3></label>
					</div><div style="padding: 15px;">	<br><label><h3><input type="checkbox" name="lamb" value="lamb" /> Lamb  </h3></label>
					</div>
					<div class="row no-gutters">
						</div></div>
					</div>
				
				<div class="clearfix"></div>
			</div>
		</div>
		<!-- // item -->
		
		<!-- item -->
		<div class="margin-bottom-30px">
			<div class="background-white thum-hover box-shadow hvr-float full-width">
				<div class="float-md-left margin-30px thum-xs">
					<img class="width-150px" src="https://www.edamam.com/food-img/46a/46a132e96626d7989b4d6ed8c91f4da0.jpg" alt="">
				</div>
				<div class="padding-25px">
					<div class="rating">
							<h3>Vegitable</h3>
					</div>
					<div style="display: flex;">
						<div style="padding: 15px;"><br><label><h3><input type="checkbox" name="tomato" value="tomato" /> Tomato  </h3></label>
						</div><div style="padding: 15px;">		<br><label><h3><input type="checkbox" name="potato" value="potato" /> Potato  </h3></label>
						</div><div style="padding: 15px;">		<br><label><h3><input type="checkbox" name="carrot" value="carrot" /> Carrot  </h3></label>
						</div><div style="padding: 15px;">		<br><label><h3><input type="checkbox" name="beans" value="beans" /> Beans </h3> </label>
						</div><div style="padding: 15px;">		<br><label><h3><input type="checkbox" name="broccoli" value="broccoli" /> Broccoli  </h3></label>
						</div><div style="padding: 15px;">		<br><label><h3><input type="checkbox" name="peppers" value="peppers" /> Peppers  </h3></label>
						</div><div style="padding: 15px;">		<br><label><h3><input type="checkbox" name="lettuce" value="lettuce" /> Lettuce  </h3></label>
					</div>
					<div class="row no-gutters">
						</div>
					</div></div>
				
				<div class="clearfix"></div>
			</div>
		</div>
		<!-- // item -->

		<!-- item -->
		<div class="margin-bottom-30px">
			<div class="background-white thum-hover box-shadow hvr-float full-width">
				<div class="float-md-left margin-30px thum-xs">
					<img class="width-150px" src="https://www.edamam.com/food-img/f9d/f9d6183267b041b0aff9a10b89c9c15f.jpg" alt="">
				</div>
				<div class="padding-25px">
					<div class="rating">
							<h3>Dairy</h3>
					</div>

					<div style="display: flex;">
						<div style="padding: 15px;"><br><label><h3><input type="checkbox" name="cheese" value="cheese" /> Cheese  </h3></label>
						</div><div style="padding: 15px;">		<br><label><h3><input type="checkbox" name="milk" value="milk" /> Milk  </h3></label>
						</div><div style="padding: 15px;">		<br><label><h3><input type="checkbox" name="butter" value="butter" /> Butter  </h3></label>
</div>
					<div class="row no-gutters">
						
					</div></div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
		<!-- // item -->

		<!-- item -->
		<div class="margin-bottom-30px">
			<div class="background-white thum-hover box-shadow hvr-float full-width">
				<div class="float-md-left margin-30px thum-xs">
					<img class="width-150px" src="https://www.edamam.com/food-img/e54/e54c012fabed0f9cf211a817d1e23c5c.jpg" alt="">
				</div>
				<div class="padding-25px">
					<div class="rating">
							<h3>Misc</h3>
					</div>

						<div style="display: flex;">
						<div style="padding: 15px;"><br><label><h3><input type="checkbox" name="rice" value="rice" /> Rice  </h3></label>
						</div><div style="padding: 15px;">		<br><label><h3><input type="checkbox" name="pasta" value="pasta" /> Pasta  </h3></label>
						</div><div style="padding: 15px;">		<br><label><h3><input type="checkbox" name="eggs" value="eggs" /> Eggs  </h3></label>
						</div><div style="padding: 15px;">		<br><label><h3><input type="checkbox" name="bread" value="bread" /> Bread  </h3></label>
		
					</div>
					<div class="row no-gutters">
						</div>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
		<!-- // item -->


		
<div class="container">
		<div class="margin-bottom-60px">
			<div class="listing-search box-shadow">
				<form class="row no-gutters">
					<div class="col-md-4">
							
					
					</div>
					<div class="col-md-2">
						<button class="btn box-shadow margin-bottom-10px padding-tb-10px btn-sm border-2 border-radius-30 btn-inline-block width-210px background-dark text-white">Search Now</button>
					</div>
					<div class="col-md-4">
						
					</div>
				</form>
			</div>
		</div>
	</div>

</form>

	</div>





 <!-- // footer  -->
	<div class="padding-tb-10px background-main-color">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="text-white margin-tb-15px text-center text-lg-left">
						"       " | A Zachary, Fred, Mike, & Wesley Creation 
					</div>
				</div>
				<div class="col-md-6">
					<ul class="list-inline text-lg-right text-center margin-lr-0px margin-tb-15px text-white">
				
						<li class="list-inline-item margin-lr-8px"><a class="github" href="https://github.com/Murphy-ZJ/food-in-fridge"><i class="fab fa-github"></i></a></li>
						
					</ul>
				</div>
			</div>
		</div>
	</div>
	 <!-- // footer  -->
	<script src="/assets/js/jquery-3.2.1.min.js"></script>
	<script src="/assets/js/sticky-sidebar.js"></script>
	<script src="/assets/js/YouTubePopUp.jquery.js"></script>
	<script src="/assets/js/owl.carousel.min.js"></script>
	<script src="/assets/js/imagesloaded.min.js"></script>
	<script src="/assets/js/masonry.min.js"></script>
	<script src="/assets/js/wow.min.js"></script>
	<script src="/assets/js/custom.js"></script>
	<script src="/assets/js/popper.min.js"></script>
	<script src="/assets/js/bootstrap.min.js"></script>
</body>

</html>
