<!DOCTYPE html>
<html lang="en-US">

<head>
	<title>Cook Note - Food Recipes HTML Template</title>
	<meta name="author" content="Nile-Theme">
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<meta name="keywords" content="recipes food, recipes , chinese food, italian food">
	<meta name="description" content="Cook Note - Food & Recipes Food Template">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- google fonts -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,800%7CPoppins:100,200,300i,300,400,700,400i,500%7CDancing+Script:700" rel="stylesheet">
	<!-- animate -->
	<link rel="stylesheet" href="assets/css/animate.css" />
	<!-- owl Carousel assets -->
	<link href="assets/css/owl.carousel.css" rel="stylesheet">
	<link href="assets/css/owl.theme.css" rel="stylesheet">
	<!-- bootstrap -->
	<link rel="stylesheet" href="assets/css/bootstrap.min.css">
	<!-- hover anmation -->
	<link rel="stylesheet" href="assets/css/hover-min.css">
	<!-- flag icon -->
	<link rel="stylesheet" href="assets/css/flag-icon.min.css">
	<!-- main style -->
	<link rel="stylesheet" href="assets/css/style.css">
	<!-- colors -->
	<link rel="stylesheet" href="assets/css/colors/main.css">
	<!-- elegant icon -->
	<link rel="stylesheet" href="assets/css/elegant_icon.css">
	<!-- Font Awesome -->
	<link rel="stylesheet" href="assets/css/fontawesome-all.min.css">

</head>

<body>

	<!-- // Header  -->
	<header class="background-main-color">
		<div class="container">
			<div class="header-output">
				<div class="header-in">

					<div class="row">
						<div class="col-lg-2 col-md-12">
							<a id="logo" href="/" class="d-inline-block margin-tb-5px"><img src="assets/img/logo-small.png" alt="" width= 52 height= 52></a>
							<a class="mobile-toggle padding-13px background-main-color" href="#"><i class="fas fa-bars"></i></a>
						</div>
						<div class="col-lg-8 col-md-12 position-inherit">
							<ul id="menu-main" class="white-link dropdown-dark text-lg-center nav-menu link-padding-tb-17px">
							<ul class="sub-menu text-left">
							</ul>
								</li>
								<li><a href="/">Home</a></li>
								<li class="has-dropdown"><a href="#">Recipes</a>
									<ul class="sub-menu text-left">
										<li><a href="#">Recipes - Grid Layout </a></li>
							
									</ul>
								</li>
								<li><a href="/login">Login</a></li>
									<li><a href="/register">Register</a></li>
									</ul>
								</li>
						
							</ul>
						</div>
						<div class="col-lg-2 col-md-12 d-none d-lg-block">
							<hr class="margin-bottom-0px d-block d-sm-none">
							<a href="/choice/" class="text-white ba-2 box-shadow float-right padding-lr-23px padding-tb-15px text-extra-large"><i class="fas fa-list"></i></a>
							<a href="/login" class="text-white ba-1 box-shadow float-right padding-lr-23px padding-tb-15px text-extra-large"><i class="far fa-user"></i></a>
						</div>
					</div>

				</div>
			</div>
		</div>
	</header>
	<!-- // Header  -->


	<div id="page-title" class="padding-tb-30px gradient-white text-center">
		<div class="container">
			<!-- <ol class="breadcrumb opacity-5">
				<li><a href="#">Home</a></li>
				<li class="active">Login Page</li>
			</ol> -->
			<h1 class="font-weight-300">Login Page</h1>
		</div>
	</div>


	<div class="container margin-bottom-100px">
		<!--======= log_in_page =======-->
		<div id="log-in" class="site-form log-in-form box-shadow border-radius-10">

			<div class="form-output">
				<form method="POST" action="/login">
					<div class="form-group label-floating">
						<label class="control-label">Your Username</label>
						<input class="form-control" placeholder="" type="text" name="user_handle">
					</div>
					<div class="form-group label-floating">
						<label class="control-label">Your Password</label>
						<input class="form-control" placeholder="" type="password" name="user_pass">
					</div>

					<div class="remember">
				<!--		<div class="checkbox">
							
							<label><input name="optionsCheckboxes" type="checkbox">Remember Me</label>
						</div>
						<a href="#" class="forgot">Forgot my Password</a>
				-->	</div>

					<button class="btn btn-md btn-primary full-width">Login</button>
<!--
					<div class="or"></div>

					<a href="#" class="btn btn-md bg-facebook full-width btn-icon-left"><i class="fab fa-facebook margin-right-8px" aria-hidden="true"></i> Login with Facebook</a>

					<a href="#" class="btn btn-md bg-twitter full-width btn-icon-left"><i class="fab fa-twitter margin-right-8px" aria-hidden="true"></i> Login with Twitter</a>

-->
					<p>Don't have an account? <a href="/register">Register Now!</a> </p>
				</form>
			</div>
		</div>
		<!--======= // log_in_page =======-->

	</div>




 <!-- // footer  -->
	<div class="padding-tb-10px background-main-color">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="text-white margin-tb-15px text-center text-lg-left">
						"       " | A Zachary, Fred, Mike, & Wesley Creation 
					</div>
				</div>
				<div class="col-md-6">
					<ul class="list-inline text-lg-right text-center margin-lr-0px margin-tb-15px text-white">
				
						<li class="list-inline-item margin-lr-8px"><a class="github" href="https://github.com/Murphy-ZJ/food-in-fridge"><i class="fab fa-github"></i></a></li>
						
					</ul>
				</div>
			</div>
		</div>
	</div>
	 <!-- // footer  -->

	<script src="assets/js/jquery-3.2.1.min.js"></script>
	<script src="assets/js/sticky-sidebar.js"></script>
	<script src="assets/js/YouTubePopUp.jquery.js"></script>
	<script src="assets/js/owl.carousel.min.js"></script>
	<script src="assets/js/imagesloaded.min.js"></script>
	<script src="assets/js/masonry.min.js"></script>
	<script src="assets/js/wow.min.js"></script>
	<script src="assets/js/custom.js"></script>
	<script src="assets/js/popper.min.js"></script>
	<script src="assets/js/bootstrap.min.js"></script>
</body>

</html>
