.full_width{
	width: 100%;
	margin-bottom: 10px;
}
.half_width{
	width: 50%;
	margin-bottom: 10px;
}
.small_spacer{
	width: 100%;
	height: 1px;
	margin-top: 15px;
}
.medium_spacer{
	width: 100%;
	height: 1px;
	margin-top: 50px;	
}
.dashed_line{	
	width: 100%;
	height: 1px;
}
.sk_note{
	color: rgb(58, 135, 173);
}
.floatL{
	float: left;
}
.clearFX{
	clear: both;
}
